{% extends "layout.html" %}

{% block content %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>Profile</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <a href="#modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i class="fa fa-pencil"></i></a>
                            <img src="{{ url_for('static', filename='images/default-avatar.png') }}" alt="Avatar" class="avatar-photo">
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body pd-5">
                                            <div class="img-container">
                                                <img id="image" src="{{ url_for('static', filename='images/default-avatar.png') }}" alt="Picture">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Update" class="btn btn-primary">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center h5 mb-0">{{ user.name }}</h5>
                        <p class="text-center text-muted font-14">Utilisateur enregistré</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Informations de contact</h5>
                            <ul>
                                <li><span>Email:</span> {{ user.email }}</li>
                                <li><span>Pays:</span> Maroc</li>
                                <li><span>Adresse:</span> Casablanca</li>
                            </ul>
                        </div>
            
                        <div class="profile-social">
                            <h5 class="mb-20 h5 text-blue">Réseaux sociaux</h5>
                            <ul class="clearfix">
                                <li><a href="#" class="btn" data-bgcolor="#3b5998"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="btn" data-bgcolor="#1da1f2"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="btn" data-bgcolor="#007bb5"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Historique</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tasks" role="tab">Tâches</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#setting" role="tab">Paramètres</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Timeline tab -->
                                    <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                                        <div class="pd-20">
                                            <h5 class="text-blue h5 mb-20">Historique des analyses</h5>
                                            {% if videos %}
                                                <ul class="list-group">
                                                    {% for video in videos %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <strong>{{ video.filename }}</strong><br>
                                                            Type: {{ video.type }}<br>
                                                            {% if video.analysis_date != "Non disponible" %}
                                                                Date: {{ video.analysis_date.strftime('%d-%m-%Y %H:%M') }}
                                                            {% else %}
                                                                Date: Non disponible
                                                            {% endif %}

                                                        </div>
                                                        <a href="{{ url_for('static', filename='results/' ~ video.result_path) }}" target="_blank" class="btn btn-sm btn-outline-primary">Voir</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>Aucune analyse trouvée.</p>
                                            {% endif %}
                                        </div>
                                    </div>
            
                                    <!-- Tasks tab -->
                                    <div class="tab-pane fade" id="tasks" role="tabpanel">
                                        <div class="pd-20">
                                            <p>Section à compléter plus tard.</p>
                                        </div>
                                    </div>
            
                                    <!-- Settings tab -->
                                    <div class="tab-pane fade" id="setting" role="tabpanel">
                                        <div class="pd-20">
                                            <p>Ici vous pouvez gérer vos paramètres de compte. (à implémenter)</p>
                                        </div>
                                    </div>
                                </div> <!-- .tab-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    
<script>
                                        window.addEventListener('DOMContentLoaded', function () {
                                            var image = document.getElementById('image');
                                            var cropBoxData;
                                            var canvasData;
                                            var cropper;
                                
                                            $('#modal').on('shown.bs.modal', function () {
                                                cropper = new Cropper(image, {
                                                    autoCropArea: 0.5,
                                                    dragMode: 'move',
                                                    aspectRatio: 3 / 3,
                                                    restore: false,
                                                    guides: false,
                                                    center: false,
                                                    highlight: false,
                                                    cropBoxMovable: false,
                                                    cropBoxResizable: false,
                                                    toggleDragModeOnDblclick: false,
                                                    ready: function () {
                                                        cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                                                    }
                                                });
                                            }).on('hidden.bs.modal', function () {
                                                cropBoxData = cropper.getCropBoxData();
                                                canvasData = cropper.getCanvasData();
                                                cropper.destroy();
                                            });
                                        });
                                    </script>
            
{% endblock %}